global
        log 127.0.0.1 local3
        maxconn 5000
        uid 99
        gid 99
        daemon

defaults
        log 127.0.0.1 local3
        mode http
        option dontlognull
        retries 3
        option redispatch
        maxconn 2000
        timeout connect  5000
        timeout client 50000
        timeout server 50000

listen frontend
        bind 0.0.0.0:80
        mode http
        balance roundrobin
        maxconn 2000
        option forwardfor
        {% for i in pillar.haproxy -%}
        server `i` {{pillar.haproxy[i]}} check inter 5000 fall 1 rise 2
        {% endfor -%}

        stats enable
        stats uri /admin-status
        stats auth admin:123456
        stats admin if TRUE
